<p class="lead">Enter the information for the job application below.</p>
<p class="alert alert-info">This program will replace the following values in the cover letter template given: &#123;companyName&#125;, &#123;companyAddress&#125;, &#123;companyCity&#125;, &#123;companyProvince&#125;, &#123;companyPostal&#125;, &#123;jobTitle&#125; with the values below.</p>
<form #coverLetterForm="ngForm">
  <div class="card mb-3">
    <div class="card-header">
      <h6>Cover Letter Template</h6>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="fileInput">Cover Letter Template <span class="text-danger">.docx file*</span></label>
        <input #fileInput="ngModel" name="fileInput"  [(ngModel)]="info.fileInput" id="fileInput" class="form-control-file" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" (change)="fileChange($event)" required />
        <div [hidden]="fileInput.valid || fileInput.pristine" class="alert alert-danger">Cover Letter Template is
            Required</div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h6>Recruiter Information</h6>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="recruiterName">Recruiter Name</label>
        <input type="text" class="form-control" id="jobTitle" [(ngModel)]="info.recruiterName" name="recruiterName"
          #recruiterName="ngModel">
      </div>
      <div class="form-group">
        <label for="recruiterTitle">Rectruiter Title</label>
        <input type="text" class="form-control" id="recruiterTitle" [(ngModel)]="info.recruiterTitle" name="recruiterTitle"
          #recruiterTitle="ngModel">
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h6>Company Information</h6>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="companyName">Company Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="companyName" [(ngModel)]="info.companyName" name="companyName"
          #companyName="ngModel" required>
        <div [hidden]="companyName.valid || companyName.pristine" class="alert alert-danger">Company Name is Required</div>
      </div>
      <div class="form-group">
        <label for="companyAddress">Company Address <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="companyAddress" [(ngModel)]="info.companyAddress" name="companyAddress"
          #companyAddress="ngModel" required>
        <div [hidden]="companyAddress.valid || companyAddress.pristine" class="alert alert-danger">Company Address is
          Required</div>
      </div>
      <div class="form-group">
        <label for="companyCity">Company City <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="companyCity" [(ngModel)]="info.companyCity" name="companyCity"
          #companyCity="ngModel" required>
        <div [hidden]="companyCity.valid || companyCity.pristine" class="alert alert-danger">Company City is
          Required</div>
      </div>
      <div class="form-group">
        <label for="companyProvince">Company Province <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="companyProvince" [(ngModel)]="info.companyProvince"
          name="companyProvince" #companyProvince="ngModel" required>
        <div [hidden]="companyProvince.valid || companyProvince.pristine" class="alert alert-danger">Company Province is
          Required</div>
      </div>
      <div class="form-group">
        <label for="companyPostal">Company Postal Code <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="companyPostal" [(ngModel)]="info.companyPostal" name="companyPostal"
          #companyPostal="ngModel" required>
        <div [hidden]="companyPostal.valid || companyPostal.pristine" class="alert alert-danger">Company Postal Code is
          Required</div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h6>Job Position Information</h6>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="jobTitle">Job Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="jobTitle" [(ngModel)]="info.jobTitle" name="jobTitle"
          #jobTitle="ngModel" required>
        <div [hidden]="jobTitle.valid || jobTitle.pristine" class="alert alert-danger">Job Title is
          Required</div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!coverLetterForm.form.valid">Generate
    Document</button>
</form>